<div ng-controller="navEditCrtl">
    <div class="container  p-3">
        <br/>
        <br/>
        <div class="card">
            <h5 class="card-header">Edit Navigation
                <a ng-click="changeMenu('nav-list')" class="btn btn-sm btn-primary float-end">Return</a></h5>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col login-box-holder">
                                <form>
                                    <div class="form-group">
                                        <label for="title" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="title" ng-model="data.title">
                                    </div>
                                    <div class="form-group">
                                        <label for="link" class="form-label">Link</label>
                                        <input type="text" class="form-control" id="link" ng-model="data.link">
                                    </div>
                                    <div class="form-group">
                                        <label for="enable" class="form-label">Enable</label>
                                        <select class="form-control" id="enable" ng-model="data.enable">
                                            <option value="true" ng-selected="data.enable">Yes</option>
                                            <option value="false" ng-selected="!data.enable">No</option>
                                        </select>
                                    </div>
                                    <br/>
                                    <button type="submit" class="btn btn-primary" ng-click="editData()">Update</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>