<div ng-controller="categoryAddCtrl">
    <div class="container  p-3">
        <br/>
        <br/>
        <div class="card">
            <h5 class="card-header">Add New Product Category
                <a ng-click="changeMenu('category-list')" class="btn btn-sm btn-primary float-end">Return</a>
            </h5>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col login-box-holder">
                                <form>
                                    <div class="form-group">
                                        <label for="title" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="title" ng-model="data.title">
                                    </div>
                                    <div class="form-group">
                                        <label for="enable" class="form-label">Enable</label>
                                        <select class="form-control" id="enable" ng-model="data.enable">
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="form-label">Description</label>
                                        <textarea class="form-control" id="description"
                                                  ng-model="data.description"></textarea>
                                    </div>
                                    <br/>
                                    <div ng-include="'views/util/fileUploader.html'"></div>
                                    <br/>
                                    <button type="submit" class="btn btn-primary" ng-click="addData()">Insert</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>