<div ng-controller="productEditCtrl">
    <div class="container  p-3">
        <br/>
        <br/>
        <div class="card">
            <h5 class="card-header">Edit Product
                <a ng-click="changeMenu('product-list')" class="btn btn-sm btn-primary float-end">Return</a></h5>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col login-box-holder">
                                <form>
                                    <div class="form-group">
                                        <label for="title" class="form-label">Title</label>
                                        <input type="text" class="form-control" id="title" ng-model="data.title">
                                    </div>
                                    <div class="form-group">
                                        <label for="price" class="form-label">Price</label>
                                        <input type="number" class="form-control" id="price" ng-model="data.price">
                                    </div>
                                    <div class="form-group">
                                        <label for="enable" class="form-label">Enable</label>
                                        <select class="form-control" id="enable" ng-model="data.enable">
                                            <option value="true" ng-selected="data.enable">Yes</option>
                                            <option value="false" ng-selected="!data.enable">No</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exists" class="form-label">Exists</label>
                                        <select class="form-control" id="exists" ng-model="data.exists">
                                            <option value="true" ng-selected="data.exists">Yes</option>
                                            <option value="false" ng-selected="!data.exists">No</option>
                                        </select>
                                    </div>
                                    <div class="form-group  border-form p-3 m-1 ">
                                        <label for="colors" class="form-label">Colors</label>
                                        <div id="colors" ng-repeat="item in colors">
                                            <select  id="colors_{{item.id}}"  ng-checked="isSelected(data.colors,item)" type="checkbox" value="{{item.id}}" ng-model="data.colors[item.id]"/>
                                            <label for="colors_{{item.id}}">{{item.name}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group border-form p-3 m-1">
                                        <label for="sizes" class="form-label">Sizes</label>
                                        <div id="sizes" ng-repeat="item in sizes">
                                            <input  id="sizes_{{item.id}}"
                                                   ng-checked="isSelected(data.sizes,item)" type="checkbox" value="{{item.id}}"
                                                   ng-model="data.sizes[item.id]"/>
                                            <label for="sizes_{{item.id}}">{{item.title}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="features">Features</label>
                                        <div class="row  border-form p-3 m-1">
                                            <div class="col">
                                                <div class="row ">
                                                    <div class="col-5">
                                                        <label for="key">Key</label>
                                                        <input type="text" id="key" ng-model="newFeature.key"
                                                               class="form-control">
                                                    </div>
                                                    <div class="col-5">
                                                        <label for="value">Value</label>
                                                        <input type="text" id="value" ng-model="newFeature.value"
                                                               class="form-control">
                                                    </div>
                                                    <div class="col-2">
                                                        <input title="Add Feature" type="button"
                                                               class="btn btn-success  my-4" value="+"
                                                               ng-click="addFeature()"/>
                                                    </div>
                                                </div>
                                                <ul id="features">
                                                    <br/>
                                                    <li ng-repeat="feature in featureList">
                                                        <span class="badge  badge-success"> {{feature.key}}  :  {{feature.value}}</span>
                                                        <i title="Delete"
                                                           class="cursor cursor-pointer fa fa-times color color-red m-1"
                                                           ng-click="deleteFeature(feature.id)"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="form-label">Description</label>
                                        <div text-angular="text-angular" id="description" name="description"
                                             ng-model="data.description"></div>
                                    </div>
                                    <br/>
                                    <div class="form-group">
                                        <label for="image">Image</label>
                                        <div class="row">
                                            <div class="col-1">
                                                <img width="50" src="/api/utils/upload/files/{{data.image}}"/>
                                            </div>

                                            <div class="col">
                                                <input type="text" readOnly="readonly" disabled="disabled"
                                                       class="form-control" id="image" ng-model="data.image">
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-include="'views/util/fileUploader.html'"></div>
                                    <br/>
                                    <button type="submit" class="btn btn-primary" ng-click="editData()">Update
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>